---
import { FaDiscord, FaGithub } from "react-icons/fa";
// import ThemeToggle from "../components/buttons/ThemeToggle.astro";
---

<nav class="fixed inset-x-0 top-0 z-50">
  <input type="checkbox" id="menu-toggle" class="peer hidden" />

  <div
    class="px-4 md:px-0 md:max-w-7xl mx-auto flex items-center justify-between w-full py-3"
  >
    <!-- Logo -->
    <a href="/" class="text-xl font-bold flex items-center gap-x-1">
      <img class="h-14" src="/img/new/2.png" alt="GamanJS" title="GamanJS" />
      <h1 class="text-xl text-white hidden md:block">GamanJS</h1>
    </a>

    <!-- Desktop Menu -->
    <div class="flex items-center gap-5 text-gray-300 font-medium bg-gray-500/50 border border-gray-800 shadow-lg shadow-gray-500/30 py-2 px-4 rounded-full">
      <a href="/docs" class="hover:text-pink-400 transition">Docs</a>

      <div class="w-px h-6 bg-gray-600/80"></div>
      <!-- <ThemeToggle client:load /> -->
      <a
        href="https://github.com/7TogkID/gaman"
        target="_blank"
        class="hover:text-white hover:scale-110 transition-transform"
        title="GitHub"
      >
        <FaGithub className="w-5 h-5" />
      </a>

      <a
        href="https://discord.gg/"
        target="_blank"
        class="hover:text-white hover:scale-110 transition-transform"
        title="Discord"
      >
        <FaDiscord className="w-5 h-5" />
      </a>
    </div>
  </div>
</nav>
